---
import Layout from "../../layouts/Layout.astro";
import AboutProject from "../../components/AboutProject"

import { projects } from "../../data/projectsArr";

export function getStaticPaths() {
    return projects.map(({ id, text, image, title, desc, stack, url }) => {
        return {
            params: { id },
            props: { text, image, title, desc, stack, url },
        };
    });
}

const props = Astro.props;
---

<Layout title="Welcome to my porfolio.">
    <main class="mt-[90px] w-full min-h-screen">
        <AboutProject prod={props} client:load />
    </main>
</Layout>