---
import Banner from "../components/Banner";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my portfolio.">
	<main>
		<Banner client:load />
		<div class="h-[1500px] bg-red-500">
			bg
		</div>
	</main>
</Layout>
