---
import Banner from "../components/Banner"
import Projects from "../components/Projects"
import Skills from "../components/Skills"
import Contact from "../components/Contact"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to my portfolio.">
	<main>
		<Banner client:load />
		<Skills client:load />
		<Projects client:load />
		<Contact client:load />
	</main>
</Layout>
