---
import Container from "./Container"

import "../styles/global.css"
---

<footer class="pb-[80px] pt-[80px] bg-[url('/images/footer-bg.png')] mt-auto">
    <Container>
        <div class="flex justify-between">
            <h1 class="text-xl">PORTFOLIO</h1>
            <div>email: kam1noshi@yandex.ru</div>
            <div>
                <ul class="flex gap-4 justify-between">
                    <li>
                        <a href="#">
                            <img
                                class="rounded-full"
                                src="/images/nav-icon1.svg"
                                alt="Icon"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img
                                class="rounded-full"
                                src="/images/nav-icon2.svg"
                                alt="Icon"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img
                                class="rounded-full"
                                src="/images/nav-icon3.svg"
                                alt="Icon"
                            />
                        </a>
                    </li>
                </ul>
                <p class="text-base text-gray-400 mt-5">Все права защищены</p>
            </div>
        </div>
    </Container>
</footer>
